<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/lc_styles.css">
    <title>Главная страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/lc_main.css">
</head>

<body>
    <header>
        <div id="IC_logo" class="flicker_light">
            <div id="IC_logo_text">IC</div>
        </div>
        <div id="IC_title">
            Ikigai Creative
        </div>
        <div id="header_right">
            <div id="header_right_content">
                <a href="#">RU</a>
                <a id="exit_link" href="#">Выйти</a>
            </div>
        </div>
    </header>
    <main>
        <nav>
            <div id="user_avatar"></div>
            <span id="user_full_name">Мария Добренко</span>
            <a href="#">
                <div>
                    <div id="focus_point"></div>
                </div>Главная
            </a>
            <a href="#">Расписание</a>
            <a href="#">Мои курсы</a>
            <a href="#">Мои проекты</a>
            <a href="#">Кодревью</a>
            <a href="#">Записи уроков</a>
            <a href="#">Мессенджер</a>
            <a href="#">Каталог курсов</a>
            <a href="#">Мои бонусы</a>
            <a href="#">Сертефикаты</a>
            <a href="#">Настройки</a>
        </nav>
        <section id="main_page">
            <div id="main_content">
                <div id="progress"></div>
                <div id="lessons"></div>
                <div id="projects"></div>
                <div id="msg"></div>
                <div id="ntf"></div>
                <div id="records"></div>
            </div>
        </section>
    </main>
</body>

</html>